actionlib==1.11.10
angles==1.9.11
beautifulsoup4==4.6.0
bondpy==1.8.0
camera-calibration==1.12.20
camera-calibration-parsers==1.11.12
catkin==0.6.19
catkin-pkg==0.3.6
cv-bridge==1.12.4
diagnostic-analysis==1.9.2
diagnostic-common-diagnostics==1.9.2
diagnostic-updater==1.9.2
docutils==0.14
dynamic-reconfigure==1.5.49
gazebo-plugins==2.7.2
gazebo-ros==2.7.2
gencpp==0.5.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.9
gennodejs==2.0.1
genpy==0.6.6
google==1.9.3
image-geometry==1.12.4
interactive-markers==1.11.3
laser-geometry==1.6.4
message-filters==1.13.2
netifaces==0.10.6
nose==1.3.7
numpy==1.13.1
pluginlib==1.11.0
protobuf==3.4.0
pyserial==3.4
python-dateutil==2.6.1
python-qt-binding==0.3.2
PyYAML==3.12
qt-dotgraph==0.3.6
qt-gui==0.3.6
qt-gui-cpp==0.3.6
qt-gui-py-common==0.3.6
resource-retriever==1.12.3
rosbag==1.13.2
rosboost-cfg==1.14.1
rosclean==1.14.1
roscreate==1.14.1
rosgraph==1.13.2
roslaunch==1.13.2
roslib==1.14.1
roslint==0.11.1
roslz4==1.13.2
rosmake==1.14.1
rosmaster==1.13.2
rosmsg==1.13.2
rosnode==1.13.2
rosparam==1.13.2
rospkg==1.1.2
rospy==1.13.2
rosservice==1.13.2
rostest==1.13.2
rostopic==1.13.2
rosunit==1.14.1
roswtf==1.13.2
rqt-action==0.4.9
rqt-bag==0.4.8
rqt-bag-plugins==0.4.8
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.9
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.7
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.8
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.7
rqt-robot-steering==0.5.7
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.8
rqt-service-caller==0.4.8
rqt-shell==0.4.8
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.8
rqt-web==0.4.8
rviz==1.12.11
sensor-msgs==1.12.5
sip==4.19.2
six==1.10.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.16
tf2-kdl==0.5.16
tf2-py==0.5.16
tf2-ros==0.5.16
topic-tools==1.13.2
xacro==1.12.0
