<launch>
  <arg name="depth_registered_topic" default="/depth_registered/image"/>
  <arg name="depth_camera_info_topic" default="/depth_registered/camera_info" />
  <arg name="rgb_topic" default="/rgb_undistorted/image" />
  <arg name="rgb_camera_info_topic" default="/rgb_undistorted/camera_info" />

  <arg name="depth_segmentation_params_name" default="$(find depth_segmentation)/cfg/monstah_garage_config.yaml"/>
  <node name="depth_segmentation_node" pkg="depth_segmentation" type="depth_segmentation_node" output="log">
    <rosparam command="load" file="$(arg depth_segmentation_params_name)"/>
    <remap from="/camera/depth_registered/image_raw" to="$(arg depth_registered_topic)"/>
    <remap from="/camera/rgb/image_raw" to="$(arg rgb_topic)" />
    <remap from="/camera/depth_registered/camera_info" to="$(arg depth_camera_info_topic)" />
    <remap from="/camera/rgb/camera_info" to="$(arg rgb_camera_info_topic)" />
  </node>
</launch>
